<hr style="margin: 3rem 0;">

<section id="comments">
  <h2>¿Qué te pareció? Déjanos tus reflexiones</h2>

<script src="https://giscus.app/client.js"
        data-repo="nicolastobarj/huemules"
        data-repo-id="R_kgDORMcRiw"
        data-category="General"
        data-category-id="DIC_kwDORMcRi84C2Gvc"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="es"
        crossorigin="anonymous"
        async>
</script>
</section>